<section class="parallax bg15">
  <img src="imgs/bautizo.gif" alt="Mobile Image" class="mobile-image" />
</section>

<section class="parallax bg15">
  <img src="imgs/intro.jpg" alt="Mobile Image" class="mobile-image" />
</section>

<section class="parallax bg15">
  <img src="imgs/pre-intro.jpg" alt="Mobile Image" class="mobile-image" />
</section>



<section class="parallax bg15">
  <img src="imgs/ceremonia.jpg" alt="Mobile Image" class="mobile-image" />
</section>

<section class="parallax bg15">
  <div class="content">
  <h2 style="margin-top: 50px;">
    Después de la ceremonia religiosa</h2>
  <p>Te invitamos a celebrar este momento tan especial en:</p>
  <h3>Salón "El Chorizo"</h3>
  <p>Tercera Priv. Constitución 420, Sta Fe 2da Secc, 78350 San Luis Potosí, S.L.P.</p>
  <h4>A partir de las 3:30 pm</h4>

  
  <div>
    <iframe style="position: relative; width: 80%; height: 100px"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3695.853550723491!2d-100.96382842471236!3d22.131558779808227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842aa214e0867aff%3A0xca97fd7d3647ed31!2sEl%20Chorizo!5e0!3m2!1ses-419!2smx!4v1767079624036!5m2!1ses-419!2smx"
      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
   <p style="margin-top: 50px;">
   PD. <br />Mi fiesta será temática vaquera 🤠 <br />
    Ven con tu sombrero, botas y celebremos juntos este día tan especial.
  </p>
  </div>
</section>



<section>
<mat-card-content class="normal">
   <div *ngIf="day">
    <mat-card-title>
      <h4 style="font-family: Arial, sans-serif;
    text-align: center;
    font-style: italic;">¡Faltan</h4>
    </mat-card-title>

    <div class="time-container">
      <mat-card class="time-box">
        <div class="time-unit">{{ days | number : "2.0" }}</div>
        <div class="time-label">Días</div>
      </mat-card>

      <div class="separator">:</div>

      <mat-card class="time-box">
        <div class="time-unit">{{ hours | number : "2.0" }}</div>
        <div class="time-label">Horas</div>
      </mat-card>

      <div class="separator">:</div>

      <mat-card class="time-box">
        <div class="time-unit">{{ minutes | number : "2.0" }}</div>
        <div class="time-label">Minutos</div>
      </mat-card>

      <div class="separator">:</div>

      <mat-card class="time-box">
        <div class="time-unit">{{ seconds | number : "2.0" }}</div>
        <div class="time-label">Segundos</div>
      </mat-card>
    </div>
    <mat-card-title>
      <h4 style="font-family: Arial, sans-serif;
    text-align: center;
    font-style: italic;">para el evento, no faltes!</h4>
    </mat-card-title>
  </div>
</mat-card-content>
</section>